<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>
<%= link_to "New list", new_list_path %>

<% @lists.each do |list| %>

  <ul>
    <li><%= link_to list.name, list_path(list) %></li>
  </ul>
<% end %>
